{#
# ---------------------------------------------------------------------------------------------
# MIT License
# Copyright (c) 2020, Solace Corporation, Ricardo Gomez-Ulmke (ricardo.gomez-ulmke@solace.com)
# ---------------------------------------------------------------------------------------------
#}

{
  "meta": {
    "run_end_time": "{{ run_end_ts_str }}",
    "client_connections": {
      "end_test": {
        "consumer_list": {{ consumer_list | to_nice_json }},
        "publisher_list": {{ publisher_list | to_nice_json }},
        "client_list": {{ client_list | to_nice_json }}
      }
    }
  }
}
