{#
# ---------------------------------------------------------------------------------------------
# MIT License
# Copyright (c) 2020, Solace Corporation, Ricardo Gomez-Ulmke (ricardo.gomez-ulmke@solace.com)
# ---------------------------------------------------------------------------------------------
#}

{
  "meta": {
    "run_start_time": "{{ run_start_ts_str }}",
    "run_end_time": "end-time",
    "run_id": "{{ run_id }}",
    "run_name": "{{ run_name }}",
    "cloud_provider": "{{ cloud_provider }}",
    "infrastructure": "{{ infrastructure }}",
    "use_case": "{{ test_spec.use_case }}",

    "env": {{test_env.env | to_nice_json }},

    "solace_pubsub_image": "{{ test_broker_manifest[0].RepoTags[0] }}",

    "run_spec": {{ run_spec | to_nice_json }},

    "inventory": {{ test_inventory | to_nice_json }},

    "nodes": {
      "broker_nodes": {{ test_broker_nodes.broker_nodes | to_nice_json }},
      "latency_nodes": {{ test_sdkperf_nodes.latency_nodes | to_nice_json }},
      "publisher_nodes": {{ test_sdkperf_nodes.publisher_nodes | to_nice_json }},
      "consumer_nodes": {{ test_sdkperf_nodes.consumer_nodes | to_nice_json }},
    },
    "client_connections": {
      "start_test": {
        "consumer_list": {{ consumer_list | to_nice_json }},
        "publisher_list": {{ publisher_list | to_nice_json }},
        "client_list": {{ client_list | to_nice_json }}
      },
      "end_test": {}
    }
  }
}
