

{
  "meta": {
    "testStartTimestamp": "{{ run_timestamp }}",
    "testEndTimestamp": "{{ now(True) }}",
    "test_setup": {
      "topics_publisher": "{{topics_publisher}}",
      "topics_consumer_group_1": "{{topics_consumer_group_1}}",
      "topics_consumer_group_2": "{{topics_consumer_group_2}}",
      "client_connection_count": "{{client_connection_count}}",
      "msg_payload_size_bytes": "{{msg_payload_size_bytes}}",
      "msg_number": "{{msg_number}}",
      "msg_rate_per_second": "{{msg_rate_per_second}}"
    },
    "nodes": {
      "broker_nodes": {{ brokerNodes.broker_nodes | to_nice_json }},
      "sdkperf_nodes": {{ sdkPerfNodes.sdkperf_nodes | to_nice_json }}
    },
    "result": {
      "is_message_loss": "{{ is_message_loss }}"
      {% if is_message_loss == True %}
        ,
        "error_msg": "{{ error_msg  }}"
      {% endif %}
    },
    "client_connections": {
      "start_test": {
        "number": {{ number_connected_clients_start }},
        "list": {{ connected_client_list_start | to_nice_json }}
      },
      "end_test": {
        "number": {{ number_connected_clients_end }},
        "list": {{ connected_client_list_end | to_nice_json }}
      }
    }
  }
}
