{#
# ---------------------------------------------------------------------------------------------
# MIT License
# Copyright (c) 2020, Solace Corporation, Ricardo Gomez-Ulmke (ricardo.gomez-ulmke@solace.com)
# ---------------------------------------------------------------------------------------------
#}

{
  "{{infrastructure_id}}": {
    "run_list": {
      "{{run_spec.name}}":{
        "load": {{run_load | to_nice_json}},
        "monitors": {{run_monitors | to_nice_json}}
      }
    }
  }
}
